*.diff
*.orig
*.patch
*.pcap
*.pem
*.py.bak
*.pyc
*.pyo
*.py~
*.rej
*.swp
*_flymake.py
*~
.*
\#*\#
doc/*
ext/*
old.*
pox/lib/pxpcap/pxpcap.so
pox/lib/pxpcap/pxpcap_c/WpdPack
pox/lib/pxpcap/pxpcap_c/build
pypy/
